h1{
    text-align: center;
}

.form-style{
    margin: 10px auto;
    width: 400px;
    padding: 20px 10px 10px 20px;
    font-size: 14px;
    font-family: sans-serif;
}

.form-style td{
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style label{
    margin: 0 0 30px 0;
    padding: 0;
    display: block;
    font-weight: bold;
}

.form-style .required{
    color: red;
}

.form-style input[type=submit], .form-style input[type=reset]{
    background-color: #4eb5f1;
    padding: 8px 15px 8px 15px;
}

.form-style input[type=submit], .form-style input[type=reset]:hover{
    background-color: #4eb5f1;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style .field-textarea{
    height: 120px;
}

.form-style input[type=text], .form-style input[type=email], textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.form-style input, textarea{
    border-radius: 3px;
}

.field-textarea .long{
    width: 100%;
}

.form-style input[type=text]:focus, .form-style input[type=email]:focus, .form-style textarea:focus {
    box-shadow: 0 0 8px #88d5e9;
    border: 3px solid #88d5e9;
}

.error{
    color: #d8000c;
    background-color: #ffbaba;
}

